@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@layer components {
  .gadgetContainer {
    @apply max-w-[1920px] px-5 md:px-[50px] lg:px-[80px] xl:px-[120px] 2xl:px-[150px] mx-auto
  }
}

.btn-bg {
  background-color: #0766AD;
}

nav ul li ul.dropDown {
  display: none;
  background-color: #e9edf1;
  position: absolute;
  width: 200px;
  right: 0px;
  border-radius: 15px;
}

nav ul li:hover ul.dropDown {
  display: block;
  cursor: pointer;
}




.font-raleway {
  font-family: "Raleway", sans-serif;
}